workflow.output.mode = 'copy'
process.scratch = false

// TWIST immune panel
params {
    genomes {
      'GRCh38' {
        'TWIST_immune' {
          wgs_or_target_intervals = '/lustre/scratch125/casm/team268im/at31/resolveome/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.interval_list'
          calling_intervals_filename = '/lustre/scratch125/casm/team268im/at31/resolveome/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.interval_list'
          vcfeval_bed_regions = '/lustre/scratch125/casm/team268im/at31/resolveome/out/twist/Probes_merged_ok_combined_Sanger_Immune-v1_TE-91661256_hg38.bed'
        }
      }
    }
}