process {
  withName: 'PUBLISH_INPUT_DATASET|COUNT_READS_FASTQ|COMBINE_READ_COUNTS|SEQTK_SAMPLE|FASTP|SENTIEON_BWA_MEM|SENTIEON_DRIVER_LOCUSCOLLECTOR|SENTIEON_DRIVER_DEDUP|SENTIEON_DRIVER_METRICS|BAM_LORENZ_COVERAGE|PRESEQ_BAM2MR|PRESEQ_GC_EXTRAP|CUSTOM_DATA_PROCESSING|CUSTOM_CALCULATE_MAPD|CUSTOM_REPORT|REPORT_VERSIONS|MULTIQC' {
    queue = 'long'
  }
}