process {
  withName: 'PUBLISH_INPUT_DATASET|COUNT_READS_FASTQ|COMBINE_READ_COUNTS|SEQTK_SAMPLE|FASTP|SALMONQUANT|CREATE_TXIMPORT_SALMON_TX_GENE|MERGE_TXIMPORT_SALMON_TX_GENE|CREATE_MATRIX_SALMON_TX_GENE|STARALIGN|STARGETPRIM|GENE_BODY_COVERAGE_RNA|GENE_BODY_COVERAGE_RNA_PLOT|QUALIMAP_BAMRNA|HTSEQ_COUNTS|CREATE_HTSEQ_SUMMARY|MERGE_HTSEQ_SUMMARY|CREATE_HTSEQ_MATRIX|PLOTTER_PCAHEATMAP_HTSEQ_SUMMARY|CELL_TYPING|CREATE_QC_REPORT|CALC_DYNAMICRANGE|REPORT_VERSIONS|CREATE_MASTER_STATS|MULTIQC' {
    queue = 'week'
  }
}