process {
  withName: "SENTIEON_.*" {
    // maxForks = 15
    errorStrategy = 'retry'
  }
  withName: "CUSTOM_RSCRIPT_SOMATICSNP_FILTER_4_CREATE_TABNR_TABNV" {
    errorStrategy = { task.exitStatus in [9,104,130,134,137,138,139,140,143] ? 'retry' : 'terminate' }
    memory = { 15.GB * task.attempt }
  }
  withName: "CUSTOM_RSCRIPT_SOMATICSNP_FILTER_3_GROUPLEVEL_PROCESS_PILEUP_SAMPLE" {
    errorStrategy = { task.exitStatus in [9,104,130,134,137,138,139,140,143] ? 'retry' : 'terminate' }
    memory = { 7.GB * task.attempt }
  }
  withName: 'SEQUOIA' {
    errorStrategy = { task.exitStatus in [9,104,130,134,137,138,139,140,143] ? 'retry' : 'terminate' }
    queue = 'basement'
  }
}