process {
  withName: 'PUBLISH_INPUT_DATASET|SENTIEON_ALIGNMENT|SENTIEON_DNASCOPE|PREPROCESS_VCF|CUSTOM_SPLIT_QUERY_TABLE_CHR|CUSTOM_SPLIT_BAM_CHR|CUSTOM_BAM_PILEUP_FILTER|CUSTOM_RSCRIPT_SOMATICSNP_FILTER_1_CELL_LEVEL_CREATE_TABLE|CUSTOM_RSCRIPT_SOMATICSNP_FILTER_2_CELL_LEVEL_CONCAT_FILTER_TABLE|CUSTOM_GET_LIST_POS_GROUP|CUSTOM_BAM_GROUP_PILEUP_CHR|CUSTOM_RSCRIPT_SOMATICSNP_FILTER_3_GROUPLEVEL_PROCESS_PILEUP_SAMPLE|CUSTOM_RSCRIPT_SOMATICSNP_FILTER_4_CREATE_TABNR_TABNV|SEQUOIA|SUBSET_VCF_VARIANTS|SENTIEON_DRIVER_METRICS|SENTIEON_DRIVER_COVERAGEMETRICS|CUSTOM_DATA_PROCESSING|CUSTOM_REPORT|REPORT_VERSIONS' {
    queue = 'week'
  }
  withName: "SENTIEON_.*" {
    maxForks = 10
  }
}