process {
  withName: 'SENTIEON_DRIVER_METRICS' {
    queue = 'long'
  }
  withName: 'SENTIEON_DRIVER_COVERAGEMETRICS' {
    queue = 'long'
  }
  withName: 'SENTIEON_DRIVER_TNSCOPE' {
    queue = 'long'
  }
  withName: 'CUSTOM_DATA_PROCESSING' {
    queue = { task.attempt > 1 ? 'long' : 'normal' }
  }
  withName: 'CUSTOM_REPORT' {
    queue = { task.attempt > 1 ? 'long' : 'normal' }
  }
  withName: 'MULTIQC' {
    queue = 'long'
  }
  withName: 'SENTIEON_DRIVER_TNSCOPE_TUMOR_PANEL_OF_NORMAL' {
    queue = 'long'
  }
  withName: 'PUBLISH_INPUT_DATASET' {
    queue = 'long'
  }
}