process {
  // containerOptions = '--bind /lustre,/nfs,/data,/software'
  withName: 'PUBLISH_INPUT_DATASET' {
    queue = 'normal'
  }
  withName: 'SENTIEON_ALIGNMENT' {
    queue = 'normal'
  }
  withName: 'SENTIEON_DNASCOPE' {
    queue = 'normal'
  }
  withName: 'SENTIEON_DRIVER_METRICS' {
    queue = 'normal'
  }
  withName: 'SENTIEON_DRIVER_COVERAGEMETRICS' {
    queue = 'normal'
  }
  withName: 'CUSTOM_DATA_PROCESSING' {
    queue = 'normal'
  }
  withName: 'CUSTOM_REPORT' {
    queue = 'normal'
  }
  withName: 'BCFTOOLS_VIEW' {
    queue = 'normal'
  }
  withName: 'SNPEFF_ANNOTATION' {
    queue = 'normal'
  }
  withName: 'REPORT_VERSIONS' {
    queue = 'normal'
  }
  withName: 'MULTIQC' {
    queue = 'normal'
  }
}