process {
  withName: 'PUBLISH_INPUT_DATASET' {
    queue = 'week'
  }
  withName: 'COUNT_READS_FASTQ' {
    queue = 'week'
  }
  withName: 'COMBINE_READ_COUNTS' {
    queue = 'week'
  }
  withName: 'SENTIEON_ALIGNMENT' {
    queue = 'week'
  }
  withName: 'SENTIEON_DNASCOPE' {
    queue = 'week'
  }
  withName: 'SENTIEON_DRIVER_METRICS' {
    queue = 'week'
  }
  withName: 'SENTIEON_DRIVER_COVERAGEMETRICS' {
    queue = 'week'
  }
  withName: 'CUSTOM_DATA_PROCESSING' {
    queue = 'week'
  }
  withName: 'CUSTOM_REPORT' {
    queue = 'week'
  }
  withName: 'BCFTOOLS_VIEW' {
    queue = 'week'
  }
  withName: 'SNPEFF_ANNOTATION' {
    queue = 'week'
  }
  withName: 'REPORT_VERSIONS' {
    queue = 'week'
  }
  withName: 'MULTIQC' {
    queue = 'week'
  }
}