process {
  withName: 'PUBLISH_INPUT_DATASET|COUNT_READS_FASTQ|COMBINE_READ_COUNTS|SENTIEON_ALIGNMENT|SENTIEON_DNASCOPE|SENTIEON_DRIVER_METRICS|SENTIEON_DRIVER_COVERAGEMETRICS|CUSTOM_DATA_PROCESSING|CUSTOM_REPORT|BCFTOOLS_VIEW|SNPEFF_ANNOTATION|REPORT_VERSIONS|MULTIQC' {
    queue = 'week'
    publishDir = [
      mode: "copy"
    ]
  }
}
singularity.pullTimeout = "1h"