report.overwrite = true
trace.overwrite = true
timeline.overwrite = true

// run options
params {
  input_vcfs_dir = '/lustre/scratch125/casm/team268im/at31/resolveome/out/ptato/vcfs/'
  bams_dir = '/lustre/scratch125/casm/team268im/at31/resolveome/data/resolveome/DNA/WGS/'
  wgs_metrics_dir = '/lustre/scratch125/casm/team268im/fa8/117/PTA_49686/wgs_metrics_dir/'
  alignment_summary_metrics_dir = '/lustre/scratch125/casm/team268im/fa8/117/PTA_49686/alignment_summary_metrics/'
  bulk_names = [['PD63118', 'PD63118_normal']]
}

// process
process {
  memory = '4 GB'
  withLabel: 'SnpSift' {
    container = 'file:///lustre/scratch125/casm/team268im/at31/tools/PTATO/containers/davelabhub-snpsift-4.3.1t--1.img'
  }
  withLabel: 'GATK_3_8_1' {
    container = 'quay.io/biocontainers/gatk:3.8--hdfd78af_12'
  }
}